.hero__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero__logo:hover .hero__title {
    color: var(--fourth-color);
}

.hero__border {
    position: relative;
    display: grid;
    place-items: center;
    width: 84px;
    height: 84px;
    border-radius: 35%;
}

.hero__border::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: var(--purple-pink);
}

.hero__perfil {
    width: calc(100% - 4px);
    background: linear-gradient(180deg,
            var(--alt-color) 0%,
            var(--alt-color) 100%);
    border: 4px solid var(--second-color-alt);
    border-radius: inherit;
    margin: 4px;
    overflow: hidden;
    z-index: 1;
}

.hero__name {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    margin-left: 1em;
}

.hero__title {
    font-weight: 600;
}

.hero__subtitle {
    font-size: .75rem;
    font-weight: 500;
    color: var(--alt-color);
}

.hero__text {
    font-size: .875rem;
    font-weight: 400;
    margin: 2em auto;
    color: var(--alt-color);
}

.hero__btns {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.hero__btn {
    display: inline-block;
    font-size: .75rem;
    width: 30%;
    border-radius: .75rem;
    padding: .75em 0;
    background-color: var(--second-color-alt);
    transition: .4s;
}

.hero__btn:hover {
    background-color: hsl(228, 28%, 24%);
    cursor: pointer;
}

.hero__btn+.hero__btn {
    margin-left: 5%;
}

.hero__btn:last-child {
    background-color: var(--purple);
}

.hero__btn:last-child:hover {
    background-color: hsl(271, 100%, 56%);
}