html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--first-font);
    font-weight: var(--font-regular);
    font-size: 1rem;
    color: var(--first-color);
    background-color: var(--second-color);
}

a {
    text-decoration: none;
    color: var(--first-color);
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== CLASSES REUTILIZÁVEIS ===============*/
.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: var(--second-color-alt);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: var(--third-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--alt-color);
}
