html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--first-font);
    font-weight: var(--font-regular);
    font-size: var(--normal-font-size);
    color: var(--first-color);
    background-color: var(--second-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--first);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== CLASSES REUTILIZÁVEIS ===============*/
.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: var(--alt-color);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: var(--second-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--second-color-alt);
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 800px) {}