@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

@font-face {
    font-family: 'iconsax';
    src: url('../fonts/iconsax.ttf');
}


:root {
    --header: 3rem;

    /*========== Colors ==========*/
    /* Amaranth: hsl(354, 84%, 52%); */

    --first-color: hsl(235, 6%, 34%);
    --second-color: hsl(240, 20%, 97%);
    --second-color-alt: hsl(240, 20%, 91%);
    --third-color: hsl(235, 6%, 40%);
    --fourth-color: var(--pink);
    --alt-color: hsl(223, 13%, 79%);
    --purple-pink: linear-gradient(40deg,
            var(--purple) 0%,
            var(--pink) 100%);


    /*==Sweet==*/
    --blue-sweet: hsl(228, 28%, 12%);

    --purple: hsl(271, 100%, 50%);
    --pink: hsl(291, 100%, 50%);
    --dark-blue: hsl(240, 100%, 7%);
    --dark-blue-alt: hsl(224, 91%, 13%);

    /*========== Font and typography ==========*/
    /*  
    font-family: 'Poppins', sans-serif; 
    font-family: 'Inter', sans-serif;               
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Nunito', sans-serif; 
    font-family: 'Courier Prime', monospace;
    */

    --first-font: 'Courier Prime', monospace;
    --second-font: 'Ubuntu', sans-serif;

    /*========== Font weight ==========*/
    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    /*========== z index ==========*/
    --z-after: -1;
    --z-img: 1;
    --z-fixed: 10;
    --z-menu: 100;
}

/*===== RESPONSIVE =====*/
@media screen and (min-width: 1024px) {}