.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-height: var(--header-height);
    max-width: 380px;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2em auto 2em;
    background-color: var(--second-color-alt);
}

.header__icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.header__icon {
    display: flex;
}

/*===== RESPONSIVE =====*/
@media screen and (min-width: 600px) {
    .header__container {
        max-width: 700px;
    }
}